#main {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    padding-top: 3em;
    background-color: #ffebcd;
}

body {
    background-color: #ffebcd;
}



.header {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    /* margin-bottom: 1em; */
    color: #FFFCF9;
    background-color: #88AA9F;
}

.border {
    border-bottom-style: solid;
    border-color: black;
}


.qr-reader {
    width: 32em;
    margin-left: 15em;
}

#results {
    display: flex;
    flex-direction: column;
    /* margin-left: 3em; */
}

.results-header {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 2.0em;
    color: #4F4B7F;
    /* margin-left: 10em; */

}

.results-div {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}